<h1>My requests</h1>

<ul class="list-group">
  <% @bookings.each do |booking| %>
    <li class="list-group-item p-3 mb-2 bg-dark text-white">
      <% if current_user.id == booking.starship.user_id %>
        <p>Starship:        <%= booking.starship.name %></p>
        <p>Starting month:  <%= booking.start_month %></p>
        <div class="input-group">
          <p>Status:          <%= booking.status %></p>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Confirm</button>
            <button class="btn btn-outline-secondary btn-warning" type="button">Decline</button>
          </div>
        </div>

      <% end %>
    </li>
  <% end %>
</ul>
<p><%=  %></p>
