* {
  color: #f2f2f2;
}

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0%;
  margin-left: 0%;
  padding: auto;
  background-color: #1c1a1a;
}

// .container2 {
//   margin: 0 8px;
// }
