.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 40px 0;
}

.starship-card {
  border: 2px solid grey;
  box-shadow: 0px 0px 25px 5px black;
  background-color: #151414;
  border-radius: 0 20px 0 0;
  height: 200px;
  display: flex;
}

.image {
  // border: 2px solid yellow;
  width: 200px !important;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile {
  height: 150px;
  width: 150px;
  border: 1px solid #f47938;
}

.text-div {
  margin: 15px 20px;
}

// ipads

@media only screen and (max-width: 1250px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 950px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
